@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  font-weight:bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire screen */
    z-index: 0; /* Places the video behind other content */
}
.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background-color:;
  box-shadow: 0 0 1000px #5a6b8e ;
  border-radius: 20px;
  padding: 0px;
  transform: perspective(200px);
}

.wrapper:hover {
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(300deg);
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s ease-in-out;
}

h2 {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  position: relative;
  margin: 20px 0;
  border-bottom: 2px solid #fff;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: .5s;
}

.input-group input,
.input-group select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #000;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label,
.input-group select:focus~label {
  top: -5px;
  font-size: 12px;
}

button {
  width: 100%;
  height: 40px;
  background: #0ef;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: background 0.3s ease;
}



.hidden {
  display: none;
}
